<!DOCTYPE html>
<html lang="en">
<head>
    <title>gischat</title>
    <style>
        .button {
            width: 160px;
        }
        .text-input {
            width: 160px;
        }
        .text-input-long {
            width: 320px;
        }
    </style>
</head>
<body>
<h1>gischat web client</h1>
<form>
    <label>Instance: <input type="text" id="instance" class="text-input-long" autocomplete="off" value=""/></label>
    <label>SSL: <input type="checkbox" id="ssl" checked/></label>
    <button class="button" id="rulesButton" onclick="onRulesButtonClick(event)">Rules</button>
    <button class="button" id="statusButton" onclick="onStatusButtonClick(event)">Status</button>
</form>
<br>
<form>
    <label>Room: <input type="text" id="roomId" class="text-input" autocomplete="off" value="QGIS"/></label>
    <button class="button" id="listRoomsButton" onclick="onListRoomsButtonClick(event)">List available rooms</button>
    <button class="button" id="connectButton" onclick="onConnectButtonClick(event)">Connect</button>
</form>
<br>
<form>
    <label>Author: <input type="text" id="authorId" class="text-input" autocomplete="off" value="Geotribu"/></label>
    <label>Avatar: <input type="text" id="avatarId" class="text-input" autocomplete="off" value="mGeoPackage.svg" disabled/></label>
</form>
<br>
<form>
    <label>Message: <input type="text" id="messageText" class="text-input-long" autocomplete="off" disabled/></label>
    <button class="button" onclick="sendMessage(event)" id="sendButton" disabled>Send</button>
</form>
<hr>
<ul id='messages'>
</ul>
<script>
    let websocket = null;
    let connected = false;
    const instance = document.getElementById('instance');
    instance.value = window.location.host;
    const ssl = document.getElementById("ssl");
    ssl.checked = window.location.protocol.startsWith("https");

    function displayMessage(msg) {
        const messages = document.getElementById('messages');
        const message = document.createElement('li');
        const content = document.createTextNode(msg);
        message.appendChild(content);
        messages.appendChild(message);
    }

    function onRulesButtonClick(event) {
        const protocol = ssl.checked ? "https" : "http";
        fetch(`${protocol}://${instance.value}/rules`)
            .then(response => response.json())
            .then(data => displayMessage(`Instance rules: ${data.rules}`));
        event.preventDefault()
    }

    function onStatusButtonClick(event) {
        const protocol = ssl.checked ? "https" : "http";
        fetch(`${protocol}://${instance.value}/status`)
            .then(response => response.json())
            .then(data => displayMessage(`Instance status: ${data.status} - users in rooms: ${data.rooms.map(room => `'${room.name}': ${room.nb_connected_users}`).join(",")}`));
        event.preventDefault()
    }

    function onListRoomsButtonClick(event) {
        const protocol = ssl.checked ? "https" : "http";
        fetch(`${protocol}://${instance.value}/rooms`)
            .then(response => response.json())
            .then(data => displayMessage(`Available rooms: ${data.join(',')}`));
        event.preventDefault()
    }

    function setFormEnabled(enabled) {
        instance.disabled = enabled;
        ssl.disabled = enabled;
        document.getElementById("roomId").disabled = enabled;
        document.getElementById("avatarId").disabled = !enabled;
        document.getElementById("messageText").disabled = !enabled;
        document.getElementById("sendButton").disabled = !enabled;
        document.getElementById("sendButton").disabled = !enabled;
        document.getElementById("connectButton").innerText = enabled ? "Disconnect" : "Connect";
    }

    function onConnectButtonClick(event) {
        if (connected) {
            websocket.close();
            event.preventDefault();
            return;
        }
        const room = document.getElementById("roomId");
        if (!room.value) {
            alert("Room must be set");
            return;
        }
        const ws_protocol = ssl.checked ? "wss" : "ws";
        const ws_url = `${ws_protocol}://${instance.value}/room/${room.value}/ws`;
        const user = document.getElementById("authorId").value;
        websocket = new WebSocket(ws_url);
        websocket.onopen = (event) => {
            displayMessage(`Connected to websocket in room ${room.value}`);
            connected = true;
            setFormEnabled(true);
            websocket.send(JSON.stringify({type: "newcomer", newcomer: user}));
        }
        websocket.onmessage = (event) => {
            const data = JSON.parse(event.data);
            const type = data.type;

            switch (type) {
                case "text":
                    displayMessage(`[${data.author}] (${new Date().toLocaleTimeString()}): ${data.text}`);
                    break;
                case "image":
                    displayMessage(`${data.author} sent an image`);
                    break;
                case "newcomer":
                    displayMessage(`${data.newcomer} has joined the room`);
                    break;
                case "exiter":
                    displayMessage(`${data.exiter} has left the room`);
                    break;
                case "like":
                    displayMessage(`${data.liker_author} liked your message "${data.message}"`);
                    break;
                default:
                    displayMessage(`Unknown message received: ${data}`);
            }
        };
        websocket.onerror = (error) => {
            displayMessage(`Websocket error ${JSON.stringify(error)}`);
            console.log("Websocket error", error);
        };
        websocket.onclose = (event) => {
            connected = false;
            displayMessage("Disconnected from websocket");
            setFormEnabled(false);
        }
        event.preventDefault();
    }

    function sendMessage(event) {
        if (!connected) {
            displayMessage("Not connected to websocket");
            event.preventDefault();
            return;
        }
        const message = document.getElementById("messageText");
        const author = document.getElementById("authorId");
        const avatar = document.getElementById("avatarId");
        if (!message.value || !author.value) {
            displayMessage("Impossible: author and message must be set !");
            event.preventDefault();
            return;
        }
        websocket.send(JSON.stringify({type: "text", text: message.value, author: author.value, avatar: avatar.value}));
        message.value = '';
        event.preventDefault();
    }

    window.onload = () => displayMessage("Not connected: please connect to a room to chat");
</script>
</body>
</html>
